@inherits Manifest

<PageTitle>Plugin 3</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code 
{
    public int currentCount = 0;
    public void IncrementCount()
    {
        currentCount++;
    }
}
