@page "/"
@using BlazorApp2.Client.Modules
@using Microsoft.AspNetCore.Components.Rendering
@using System.Reflection

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@DynamicComponent
@code {
    RenderFragment DynamicComponent { get; set; }

    protected override void OnParametersSet()
    {
        DynamicComponent = builder =>
        {
            CreateComponent(builder);
        };
    }


    private void CreateComponent(RenderTreeBuilder builder)
    {
        //dili makita ang assembly
        //Type moduletype = Type.GetType("RazorClassLibrary1.UI.Index, RazorClassLibrary1.Module", false, true);
        Type moduletype = Type.GetType("Testin123.Sample, BlazorApp2.Client", false, true);
        builder.OpenComponent(0, moduletype);
        //builder.AddAttribute(1, "ModuleState", module);
        builder.CloseComponent();
    }
}