@using RazorClassLibrary1.Services
@using BlazorApp2.Client.Modules
@namespace RazorClassLibrary1.UI
@inherits BaseModule
@inject IRazorClassLibraryService _razorClassLibraryService
<h3>Index</h3>
<h1>RazorClassLibrary1</h1>
<p>Random number: @random</p>

@code {
    private int random;
    protected override async Task OnInitializedAsync()
    {
        random = await _razorClassLibraryService.CountAsync();
        await base.OnInitializedAsync();
    }
}
