@page "/"
@page "/{PluginName}"
@page "/{PluginName}/{ComponentName}"
@using Microsoft.AspNetCore.Components.Rendering
@using Test.Core.Interfaces
@inject IMenuService MenuService;
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@DynamicComponent

@code
{
    [Parameter]
    public string PluginName { get; set; } = string.Empty;
    [Parameter]
    public string ComponentName { get; set; } = string.Empty;

    RenderFragment DynamicComponent { get; set; }

    protected override void OnParametersSet()
    {
        DynamicComponent = builder =>
        {
            CreateComponent(builder);
        };
    }

    private void CreateComponent(RenderTreeBuilder builder)
    {
        if (string.IsNullOrEmpty(ComponentName) || string.IsNullOrEmpty(PluginName))
        {
            var manifest = MenuService.GetDefaultManifest();
            ComponentName = manifest.DefaultPage;
            PluginName = manifest.ProjectName;
        }
        Type moduletype = Type.GetType($"{PluginName}.{ComponentName}, {PluginName}", false, true);
        builder.OpenComponent(0, moduletype);
        builder.CloseComponent();
    }
}