@page "/"
@page "/{PluginName}"
@using Microsoft.AspNetCore.Components.Rendering

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@DynamicComponent

@code
{
    [Parameter, EditorRequired]
    public string PluginName { get; set; } = string.Empty;

    RenderFragment DynamicComponent { get; set; }

    protected override void OnParametersSet()
    {
        DynamicComponent = builder =>
        {
            CreateComponent(builder);
        };
    }

    private void CreateComponent(RenderTreeBuilder builder)
    {
        //{Assembly.Component}
        Type moduletype = Type.GetType("Plugin2.Index, Plugin2", false, true);
        builder.OpenComponent(0, moduletype);
        builder.CloseComponent();
    }
}