@page "/"
@using Microsoft.AspNetCore.Components.Rendering

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@DynamicComponent

@code
{
    RenderFragment DynamicComponent { get; set; }

    protected override void OnParametersSet()
    {
        DynamicComponent = builder =>
        {
            CreateComponent(builder);
        };
    }


    private void CreateComponent(RenderTreeBuilder builder)
    {
        //dili makita ang assembly
        //SampleService.GetAssemblies();
        var dd = AppDomain.CurrentDomain;
        var asd = AppDomain.CurrentDomain.GetAssemblies().Where(assembly => assembly.FullName != null && (assembly.FullName.Contains("Plugin", StringComparison.OrdinalIgnoreCase)));
        Type moduletype = Type.GetType("Plugin1.Index, Plugin1", false, true);
        //Type moduletype = Type.GetType("Testin123.Sample, BlazorApp2.Client", false, true);
        builder.OpenComponent(0, moduletype);
        //builder.AddAttribute(1, "ModuleState", module);
        builder.CloseComponent();
    }
}